Backend/Chatbot Agent/KEYWORD_GENERATOR.json
{
  "name": "SALEEM - Auto-Generate Product Search Keywords with AI and Supabase",
  "nodes": [
    {
      "parameters": {},
      "id": "d1f76903-d23f-4a1c-8cfc-490b69a82169",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1920,
        96
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "tableName",
              "value": "products",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "5d28f4c1-f312-4d5b-8857-56835d2a91de",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1696,
        96
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "={{ $('Workflow Configuration').first().json.tableName }}",
        "returnAll": true
      },
      "id": "01b49be8-7ecb-4df2-bbec-3657fda5f500",
      "name": "Fetch Products from Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1472,
        96
      ],
      "credentials": {
        "supabaseApi": {
          "id": "rNqNW0UsrJxC6rxO",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "productContext",
              "value": "=Product Details:\n- Name: {{ $json.name }}\n- Category: {{ $json.category }}\n- Sub-Category: {{ $json.sub_category }}\n- Brand: {{ $json.brand }}\n- Color: {{ $json.color }}\n- Size: {{ $json.size }}\n- Weight: {{ $json.weight }}\n- Material: {{ $json.material }}\n- Description: {{ $json.description }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "b96785ef-b157-43eb-b013-7e46f6d8837f",
      "name": "Prepare Product Data for AI",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1248,
        96
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.productContext }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "instructions": "You are a search keyword generator for e-commerce products. Your task is to generate a comprehensive list of search keywords that customers might use to find this product.\n\nGenerate keywords including:\n1. Singular and plural variations of the product name\n2. Synonyms for product name, category, sub-category, brand, color, size, weight, and material\n3. Common abbreviations and acronyms\n4. Common user search phrases and terms\n5. Related terms and alternative names\n\nReturn ONLY a comma-separated string of keywords without any additional text or explanation. Example output: \"laptop, laptops, notebook, computer, portable computer, PC\"",
          "maxTokens": 500
        }
      },
      "id": "386c55cc-f1ee-4c79-b78d-3acfe43a5730",
      "name": "Generate Keywords with AI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -1024,
        96
      ],
      "credentials": {
        "openAiApi": {
          "id": "Q1ARzytfh2roblMX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// This code is designed to be used in an n8n Code node.\n// It iterates over the input items (which contain the JSON data)\n// and extracts the values for the 'text' and 'id' keys.\n\nconst extracted = items.map(item => {\n    // Access the JSON content of the current item\n    const data = item.json;\n\n    let textValue = null;\n    let idValue = null; // Variable to store the extracted ID\n\n    try {\n        // 1. Extract 'text' value from the deepest part of the structure:\n        // output[0].content[0].text\n        textValue = data.output[0].content[0].text;\n\n        // 2. Extract 'id' value from the output array's first element:\n        // output[0].id\n        idValue = data.output[0].id;\n\n    } catch (error) {\n        // This catch block handles cases where the path might not exist\n        // (e.g., if one of the intermediate arrays/objects is missing).\n        console.error(\"Could not extract 'text' or 'id' from an item:\", error);\n    }\n\n    // Return a new item object, mapping the extracted data to new keys\n    return {\n        json: {\n            extractedText: textValue, // The final extracted text string\n            extractedId: idValue,     // The final extracted ID string\n        },\n        // Preserve any binary data if needed (optional)\n        // binary: item.binary,\n    };\n});\n\nreturn extracted;"
      },
      "id": "a78d46cf-2abb-4f29-a0dc-e2478c4a9bfb",
      "name": "Extract Keywords from AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        96
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "={{ $('Workflow Configuration').first().json.tableName }}",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Prepare Product Data for AI').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "search_keywords",
              "fieldValue": "={{ $json.extractedText }}"
            }
          ]
        }
      },
      "id": "7118f7f0-4119-4a0c-bcce-1cb44de42abe",
      "name": "Update Product Keywords in Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -448,
        96
      ],
      "credentials": {
        "supabaseApi": {
          "id": "rNqNW0UsrJxC6rxO",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.search_keywords }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "id-2",
              "leftValue": "={{ $json.search_keywords }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "84e7b1f1-7588-40b6-ab3c-86c0678e1478",
      "name": "Check for Errors",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        96
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "message",
              "value": "=Successfully updated keywords for product: {{ $('Prepare Product Data for AI').item.json.name }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "f23aaeed-8a0b-4f09-bfec-47211fc5cd4f",
      "name": "Log Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "status",
              "value": "error",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "message",
              "value": "=Failed to generate keywords for product: {{ $('Prepare Product Data for AI').item.json.name }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "d0010337-4675-4a5c-ab0f-13e9c7a465a1",
      "name": "Log Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        192
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Fetch Products from Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Products from Supabase": {
      "main": [
        [
          {
            "node": "Prepare Product Data for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Product Data for AI": {
      "main": [
        [
          {
            "node": "Generate Keywords with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Keywords with AI": {
      "main": [
        [
          {
            "node": "Extract Keywords from AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Keywords from AI Response": {
      "main": [
        [
          {
            "node": "Update Product Keywords in Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Product Keywords in Supabase": {
      "main": [
        [
          {
            "node": "Check for Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Errors": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "97ca8300-0f1e-4084-8efa-9d4a0fd0f5b0",
  "meta": {
    "instanceId": "793ff1fa634bb6f5bae283cd5381902613dd36d29e74a0f1b5d808f8bee62a9d"
  },
  "id": "hd0hLJ9JJSrAJMiQ",
  "tags": []
}