Backend/Primary Workflows/ADMIN_ADD_PRODUCT_AND_IMAGE.json
{
  "name": "ADMIN_ADD_PRODUCT_AND_IMAGE",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "admin-add-product-and-image",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -480,
        96
      ],
      "id": "ff6b1285-95a5-4b7c-83fe-6183a4641e8e",
      "name": "Webhook",
      "webhookId": "6ad0a235-4efa-4b66-b5fb-5184b94d4857"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"message\": \"Invalid admin token\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -16,
        240
      ],
      "id": "c1b1069d-49a3-471b-a4ea-024fede563fd",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "tableId": "products",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $json.body.name }}"
            },
            {
              "fieldId": "description",
              "fieldValue": "={{ $json.body.description }}"
            },
            {
              "fieldId": "price",
              "fieldValue": "={{ $json.body.price }}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{ $json.body.category }}"
            },
            {
              "fieldId": "stock_quantity",
              "fieldValue": "={{ $json.body.stock_quantity }}"
            },
            {
              "fieldId": "is_active",
              "fieldValue": "TRUE"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -16,
        -48
      ],
      "id": "1c499a99-ca42-4a8a-8c1f-d37c23ab14b0",
      "name": "Added Product Information",
      "credentials": {
        "supabaseApi": {
          "id": "t66pCgG2WshQiige",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "product_images",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "product_id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "image_url",
              "fieldValue": "={{ $('Verifies Admin\\'s Token').item.json.body.image_urls[0] }}"
            },
            {
              "fieldId": "is_primary",
              "fieldValue": "TRUE"
            },
            {
              "fieldId": "display_order",
              "fieldValue": "0"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        192,
        -48
      ],
      "id": "7ad6d17e-623f-48e7-88e8-96e1aa03544c",
      "name": "Added Product's Image's URL",
      "credentials": {
        "supabaseApi": {
          "id": "t66pCgG2WshQiige",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"product_id\": \"{{ $('Added Product Information').item.json.id }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        448,
        -48
      ],
      "id": "e4b7e208-8589-44e6-9289-c7b8dab8f3ac",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "70addef9-07d6-4f9f-a7a0-cb515432bf0a",
              "leftValue": "={{ $json.body.admin_token }}",
              "rightValue": "saleem2208",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -272,
        96
      ],
      "id": "c2c810a5-f522-4cfb-afe1-8e41a5e69b19",
      "name": "Verifies Admin's Token"
    },
    {
      "parameters": {
        "content": "## Input Layer",
        "height": 592
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -560,
        -208
      ],
      "id": "05046863-6a01-45d4-b5a8-3d1eb5fdd0b3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Admin's Token Validation Layer",
        "height": 592,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -320,
        -208
      ],
      "id": "ced93b37-3904-4e90-bd62-d10bef988afd",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Performing Intended Actions",
        "height": 368,
        "width": 416,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        -208
      ],
      "id": "f3892570-c72f-43dc-b3a0-a656dde0e670",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Rejecting Product Addition Due To Admin's Token Mismatch",
        "height": 224,
        "width": 720,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        160
      ],
      "id": "01ff4381-e3ca-44b8-a6b4-bc6424aed702",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Sending Confirmation Message Back To Admin/Owner",
        "height": 368,
        "width": 304,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        336,
        -208
      ],
      "id": "4cdc22c4-bc9f-4ac4-b202-dc2b38e65376",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "team4aimlprj.app.n8n.cloud",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "content-length": "197",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "en-US,en;q=0.9",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "223.123.7.255",
            "cf-ew-via": "15",
            "cf-ipcountry": "PK",
            "cf-ray": "9ab73d3a57bca0bc-FRA",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "origin": "https://team4aimln8n-web.github.io",
            "priority": "u=1, i",
            "referer": "https://team4aimln8n-web.github.io/",
            "sec-ch-ua": "\"Chromium\";v=\"142\", \"Google Chrome\";v=\"142\", \"Not_A Brand\";v=\"99\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "223.123.7.255, 172.71.172.156",
            "x-forwarded-host": "team4aimlprj.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-52-6c4f4684d5-dnzwc",
            "x-is-trusted": "yes",
            "x-real-ip": "223.123.7.255"
          },
          "params": {},
          "query": {},
          "body": {
            "admin_token": "saleem2208",
            "name": "Mobile",
            "description": "A lovely mobile set.",
            "price": 45,
            "category": "Electronics",
            "stock_quantity": 67,
            "image_urls": [
              "https://i.postimg.cc/15mjprdM/SS-(192).png"
            ]
          },
          "webhookUrl": "https://team4aimlprj.app.n8n.cloud/webhook/admin-add-product-and-image",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Verifies Admin's Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Added Product Information": {
      "main": [
        [
          {
            "node": "Added Product's Image's URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Added Product's Image's URL": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifies Admin's Token": {
      "main": [
        [
          {
            "node": "Added Product Information",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "04931810-8cc4-4344-b260-a15e2eb76659",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f7b993dd14e2f708b427acbff5d0127f9a8bd731f141e235e9561c1d080632e9"
  },
  "id": "kf5xSbZdwiz8LTWH",
  "tags": []
}