Backend/Primary Workflows/UPDATE_OR_DELETE_CART_ITEMS.json
{
  "name": "UPDATE_OR_DELETE_CART_ITEMS",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "update-cart-item",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3fbc18d4-35cb-4637-8a67-5342d1356c05",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -448,
        96
      ],
      "webhookId": "0dba8931-fd83-4ade-96ca-4e16dcb9796d"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.body.new_quantity }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "86e48f63-2921-4699-a24e-1e4e61424471",
      "name": "Check Quantity",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        96
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "cart_items",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.body.cart_item_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "quantity",
              "fieldValue": "={{ $json.body.new_quantity }}"
            }
          ]
        }
      },
      "id": "4b45cfd6-f76f-4cc7-b506-e360faafcf16",
      "name": "Update Cart Item",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "t66pCgG2WshQiige",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "cart_items",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.body.cart_item_id }}"
            }
          ]
        }
      },
      "id": "045de4a6-66a4-4e9a-9b6c-cf00c7ac06f9",
      "name": "Delete Cart Item",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        192
      ],
      "credentials": {
        "supabaseApi": {
          "id": "t66pCgG2WshQiige",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Cart updated successfully\"\n}",
        "options": {}
      },
      "id": "e12e7ef5-bc6d-48fd-956b-40b9145cbdd0",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        224,
        96
      ]
    },
    {
      "parameters": {
        "content": "## Receiving & Validating Input",
        "height": 528,
        "width": 464
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -528,
        -112
      ],
      "id": "fdba6638-c5a6-49b4-bb1b-4de14f89d143",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Performing Intended Action",
        "height": 528,
        "width": 224,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -64,
        -112
      ],
      "id": "9374ae42-413b-413e-963f-915a9aa1e4fb",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Sending Final Response Back to Frontend",
        "height": 528,
        "width": 224,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        -112
      ],
      "id": "a391e6b5-d29d-4845-986e-7300f6976987",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "team4aiml.app.n8n.cloud",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "content-length": "55",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "en-US,en;q=0.9",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2402:ad80:136:8f26:1a9:f67d:3fac:434d",
            "cf-ew-via": "15",
            "cf-ipcountry": "PK",
            "cf-ray": "9aa1144290b79087-KHI",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "origin": "null",
            "priority": "u=1, i",
            "sec-ch-ua": "\"Chromium\";v=\"142\", \"Google Chrome\";v=\"142\", \"Not_A Brand\";v=\"99\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "2402:ad80:136:8f26:1a9:f67d:3fac:434d, 172.69.111.183",
            "x-forwarded-host": "team4aiml.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-77-7df8c744bc-s67wc",
            "x-is-trusted": "yes",
            "x-real-ip": "2402:ad80:136:8f26:1a9:f67d:3fac:434d"
          },
          "params": {},
          "query": {},
          "body": {
            "cart_item_id": "65431e63-951a-4ba9-accb-aa8c75310dab"
          },
          "webhookUrl": "https://team4aiml.app.n8n.cloud/webhook/update-cart-item",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check Quantity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Quantity": {
      "main": [
        [
          {
            "node": "Update Cart Item",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Cart Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Cart Item": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Cart Item": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "89142155-c9c6-4e1a-9941-9b731b397309",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f7b993dd14e2f708b427acbff5d0127f9a8bd731f141e235e9561c1d080632e9"
  },
  "id": "zeVUxqfLI6U9LmG9",
  "tags": []
}