Backend/Chatbot Agent/Cart Agent's Tools/SET_CART_ITEM_QUANTITY.json
{
  "name": "SET_CART_ITEM_QUANTITY",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "50d640da-f57d-431c-a3e5-1c40fe5dbe93",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Universal extractor for:\n * - cart_id\n * - product_id\n * - quantity\n *\n * Handles:\n * - Deep nesting\n * - Arrays\n * - Flat objects\n * - Stringified JSON\n * - Raw UUIDs / numbers\n */\n\n// UUID v4 pattern\nconst UUID_REGEX =\n  /^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i;\n\nfunction extractFields(data) {\n  const result = {\n    cart_id: null,\n    product_id: null,\n    quantity: null,\n  };\n\n  function traverse(value) {\n    if (\n      result.cart_id !== null &&\n      result.product_id !== null &&\n      result.quantity !== null\n    ) {\n      return;\n    }\n\n    // Case 1: String\n    if (typeof value === 'string') {\n      // Try JSON\n      try {\n        const parsed = JSON.parse(value);\n        traverse(parsed);\n        return;\n      } catch (e) {\n        // UUID fallback\n        if (UUID_REGEX.test(value)) {\n          if (result.cart_id === null) {\n            result.cart_id = value;\n          } else if (result.product_id === null) {\n            result.product_id = value;\n          }\n        }\n        return;\n      }\n    }\n\n    // Case 2: Number → quantity fallback\n    if (typeof value === 'number') {\n      if (result.quantity === null) {\n        result.quantity = value;\n      }\n      return;\n    }\n\n    // Case 3: Array\n    if (Array.isArray(value)) {\n      for (const item of value) {\n        traverse(item);\n      }\n      return;\n    }\n\n    // Case 4: Object\n    if (typeof value === 'object' && value !== null) {\n      for (const key of Object.keys(value)) {\n        const val = value[key];\n\n        // Explicit keys always win\n        if (key === 'cart_id') {\n          result.cart_id = val;\n        } else if (key === 'product_id') {\n          result.product_id = val;\n        } else if (key === 'quantity') {\n          result.quantity = val;\n        } else {\n          traverse(val);\n        }\n      }\n    }\n  }\n\n  traverse(data);\n  return result;\n}\n\n// n8n input\nconst inputData = $input.all();\n\nconst { cart_id, product_id, quantity } = extractFields(inputData);\n\nreturn [\n  {\n    cart_id,\n    product_id,\n    quantity,\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "c2a89fd1-037f-4a99-a1d9-12eefd32dfb7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "cart_items",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "cart_id",
              "condition": "eq",
              "keyValue": "={{ $json.cart_id }}"
            },
            {
              "keyName": "product_id",
              "condition": "eq",
              "keyValue": "={{ $json.product_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "quantity",
              "fieldValue": "={{ $json.quantity }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "8b4977d5-258d-483f-882a-86fe44dec2f5",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "t66pCgG2WshQiige",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "afe0f2e2-7487-46b4-8c51-54b0a0c60bcb",
              "name": "message",
              "value": "The item quantity has been updated successfully.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        0
      ],
      "id": "0ff309cd-3aa6-4f97-9a75-09a0702b449f",
      "name": "Edit Fields"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "{\"cart_id\":\"578fdfdb-f8cd-4c84-aa3c-516abaf9c6d9\",\"product_id\":\"3bf369de-aca3-4e0b-9fd4-e8056eb93270\",\"quantity\":9}"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "73ea695b-7e43-4b4c-a7f4-7cf177ae25a2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f7b993dd14e2f708b427acbff5d0127f9a8bd731f141e235e9561c1d080632e9"
  },
  "id": "Tckrcoo8fL2LFu4a",
  "tags": []
}