Backend/Customer Engagement Workflows/FEEDBACK_COLLECTOR_FOR_WEB_INTERFACE.json
{
  "name": "FEEDBACK_COLLECTOR_FOR_WEB_INTERFACE",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get_feedback",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -720,
        -112
      ],
      "id": "706bfda4-a11e-4491-83a8-0959e6b9d265",
      "name": "Webhook",
      "webhookId": "e6e08beb-e1d2-401a-b4ee-2236841c972e"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "gpt-5.2"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -464,
        96
      ],
      "id": "417ac183-ffb0-40b3-a67f-60db1321d8aa",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "tw26oV4gggsH9mTV",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Feedback: {{ $json.body.comment }}",
        "options": {
          "systemMessage": "You are a strict sentiment analysis engine for customer feedback.\n\nYou must classify sentiment into exactly one of the following categories: Positive, Neutral, or Negative.\n\nSentiment definitions are strict and must be followed:\n\nNegative\nAny feedback that expresses dissatisfaction, criticism, complaints, defects, bugs, poor quality, bad experience, worst experience, or negative judgment MUST be labeled Negative, even if the language is calm, factual, or unemotional.\n\nPositive\nFeedback that clearly expresses satisfaction, praise, appreciation, or a good experience MUST be labeled Positive.\n\nNeutral\nNeutral may ONLY be used when the feedback is informational, mixed without a clear leaning, or descriptive with no clear satisfaction or dissatisfaction.\n\nIf criticism or negative evaluation is present, you MUST NOT choose Neutral.\n\nWhen in doubt between Neutral and Negative, choose Negative.\n\nStrength must reflect how strongly the text aligns with the chosen category, where 1 means very strong and 0 means very weak.\n\nConfidence must reflect your certainty in the classification.\n\nYou must output only valid JSON that strictly adheres to the provided JSON Schema.\nNo extra text. No explanations. No markdown outside the required code block."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -464,
        -112
      ],
      "id": "f3763103-6085-4ac6-a311-2b158f078731",
      "name": "Sentiment Analyzer"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  let rawOutput = item.json.output;\n\n  // 1. Remove the markdown code block wrappers\n  // This regex looks for ```json at the start and ``` at the end\n  const cleanJsonString = rawOutput\n    .replace(/^```json\\n?/, '') \n    .replace(/\\n?```$/, '')\n    .trim();\n\n  try {\n    // 2. Parse the string into a real JSON object\n    const parsedData = JSON.parse(cleanJsonString);\n\n    // 3. Return the parsed sentiment data\n    return {\n      json: {\n        sentiment: parsedData.sentiment,\n        strength: parsedData.strength,\n        confidence: parsedData.confidence\n      }\n    };\n  } catch (error) {\n    // If parsing fails, return the error and original text for debugging\n    return {\n      json: {\n        error: \"Failed to parse JSON output\",\n        original: rawOutput\n      }\n    };\n  }\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        -112
      ],
      "id": "5a0238bf-897f-4e45-bdc7-669594751ddf",
      "name": "Refining Sentiment Analyzer's Response"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.sentiment }}",
                    "rightValue": "Positive",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "476ee525-52e8-449b-bc73-5cef4978db1b"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7be3f927-4845-4fd4-9cf2-5bbb41c7089d",
                    "leftValue": "={{ $json.sentiment }}",
                    "rightValue": "Neutral",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b00653e4-f214-47d3-ac04-d4561124926e",
                    "leftValue": "={{ $json.sentiment }}",
                    "rightValue": "Negative",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        96,
        -128
      ],
      "id": "716c4189-1289-473b-8be4-7df2da41bf1c",
      "name": "Navigating Feedbacks Based On Sentiment"
    },
    {
      "parameters": {
        "tableId": "user_feedback",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.body.user_id }}"
            },
            {
              "fieldId": "user_email",
              "fieldValue": "={{ $json.body.email }}"
            },
            {
              "fieldId": "feedback_type",
              "fieldValue": "={{ $json.body.feedback_type.toLowerCase() }}"
            },
            {
              "fieldId": "rating",
              "fieldValue": "={{ $json.body.rating }}"
            },
            {
              "fieldId": "actual_feedback",
              "fieldValue": "={{ $json.body.comment }}"
            },
            {
              "fieldId": "suggestions",
              "fieldValue": "={{ $json.body.suggestion }}"
            },
            {
              "fieldId": "sentiment",
              "fieldValue": "={{ $json.sentimentAnalysis.category }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        400,
        -288
      ],
      "id": "e61bbd41-fd84-4593-aaa3-9e163e8ca766",
      "name": "Appending Positive & Neutral Feedbacks to Database",
      "credentials": {
        "supabaseApi": {
          "id": "t66pCgG2WshQiige",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "user_feedback",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Webhook').first().json.body.user_id }}"
            },
            {
              "fieldId": "user_email",
              "fieldValue": "={{ $('Webhook').first().json.body.email }}"
            },
            {
              "fieldId": "feedback_type",
              "fieldValue": "={{ $('Webhook').first().json.body.feedback_type.toLowerCase() }}"
            },
            {
              "fieldId": "rating",
              "fieldValue": "={{ $('Webhook').first().json.body.rating }}"
            },
            {
              "fieldId": "actual_feedback",
              "fieldValue": "={{ $('Webhook').first().json.body.comment }}"
            },
            {
              "fieldId": "suggestions",
              "fieldValue": "={{ $('Webhook').first().json.body.suggestion }}"
            },
            {
              "fieldId": "sentiment",
              "fieldValue": "={{ $json.sentiment }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        400,
        80
      ],
      "id": "c35b845b-ace8-4e2a-999d-279c6432f480",
      "name": "Appending Negative Feedbacks to Database",
      "credentials": {
        "supabaseApi": {
          "id": "t66pCgG2WshQiige",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "team4.aiml.prj@gmail.com",
        "subject": "Customer Feedback: Area for Improvement",
        "message": "=<!DOCTYPE html>\n<html>\n  <body style=\"margin:0; padding:0; background-color:#f4f6f8; font-family:Arial, Helvetica, sans-serif;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#f4f6f8; padding:20px;\">\n      <tr>\n        <td align=\"center\">\n          <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#ffffff; border-radius:6px; overflow:hidden;\">\n            \n            <tr>\n              <td style=\"padding:24px; background-color:#dc2626; color:#ffffff;\">\n                <h2 style=\"margin:0; font-size:20px; font-weight:600;\">\n                  Negative Feedback Alert\n                </h2>\n              </td>\n            </tr>\n\n            <tr>\n              <td style=\"padding:20px 24px; color:#333333; font-size:14px; line-height:1.6;\">\n                Hello Saleem Shahzad,\n                <br><br>\n                A customer has submitted feedback that has been classified as negative and may require your attention.\n              </td>\n            </tr>\n\n            <tr>\n              <td style=\"padding:0 24px 16px 24px; color:#555555; font-size:13px;\">\n                <strong>Feedback Type:</strong> {{ $json.feedback_type.toUpperCase() }}<br>\n                <strong>Rating:</strong> {{ $json.rating }} / 5<br>\n                <strong>Submitted At:</strong> {{ $json.created_at }}\n              </td>\n            </tr>\n\n            <tr>\n              <td style=\"padding:0 24px 20px 24px; color:#333333; font-size:14px; line-height:1.6;\">\n                <strong>Customer Comment:</strong>\n                <br><br>\n                \"{{ $json.actual_feedback }}\"\n              </td>\n            </tr>\n\n            <tr>\n              <td style=\"padding:0 24px 24px 24px; color:#777777; font-size:12px; line-height:1.5;\">\n                Please review this feedback and take appropriate action if necessary.\n              </td>\n            </tr>\n\n            <tr>\n              <td style=\"background-color:#f4f6f8; padding:12px; text-align:center; color:#999999; font-size:11px;\">\n                Internal notification • ShopHub\n              </td>\n            </tr>\n\n          </table>\n        </td>\n      </tr>\n    </table>\n  </body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        704,
        80
      ],
      "id": "0fa13dc8-9b85-458b-9390-6a5ee832dd03",
      "name": "Sending an Alert To Owner About Negative Feedbacks",
      "webhookId": "98460673-90c5-47ea-a958-5fa8aa6e5370",
      "credentials": {
        "gmailOAuth2": {
          "id": "AzK31zUOPtXk3Sre",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Sentiment Analysis",
        "height": 656,
        "width": 576
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -528,
        -384
      ],
      "id": "968c08a7-c9c4-442e-ad50-8af10c81d10b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Navigator",
        "height": 656,
        "width": 192,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        48,
        -384
      ],
      "id": "b9ee65bb-9fa2-4584-80c0-de761429bf97",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Recording Feedbacks in Database",
        "height": 656,
        "width": 400,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        -384
      ],
      "id": "a5c26c2d-d08a-4f25-898a-0419402ce4dc",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Sending Alerts For Negative Feedbacks",
        "height": 656,
        "width": 256,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        640,
        -384
      ],
      "id": "f715ff27-c6e7-4599-b8aa-b148a883d7e8",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Navigator",
        "height": 656,
        "width": 288,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -816,
        -384
      ],
      "id": "5b3c8e92-23b0-4f84-8bf9-00ad225b4118",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "connection": "keep-alive",
            "content-length": "248",
            "sec-ch-ua-platform": "\"Windows\"",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36",
            "sec-ch-ua": "\"Google Chrome\";v=\"143\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\"",
            "content-type": "application/json",
            "sec-ch-ua-mobile": "?0",
            "accept": "*/*",
            "origin": "null",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "cors",
            "sec-fetch-dest": "empty",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9"
          },
          "params": {},
          "query": {},
          "body": {
            "feedback_type": "Support",
            "rating": 3,
            "comment": "The experience was just fine. Neither good nor bad.",
            "suggestion": "None",
            "user_id": "ec1695ee-233c-41be-b3e3-e39eeaadc0f3",
            "email": "team4.aiml.n8n@gmail.com",
            "submitted_at": "2025-12-17T07:59:08.618Z"
          },
          "webhookUrl": "http://localhost:5678/webhook/get_feedback",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Appending Positive & Neutral Feedbacks to Database": [
      {
        "json": {
          "id": "23652e5e-8d4b-4fe0-b2da-0ffda6ba8323",
          "user_id": "ec1695ee-233c-41be-b3e3-e39eeaadc0f3",
          "user_email": "team4.aiml.n8n@gmail.com",
          "feedback_type": "order",
          "rating": 5,
          "actual_feedback": "Just loved the seamless checkout process. Would love to do business  with you again soon.",
          "suggestions": "Its already perfect.",
          "sentiment": "Neutral",
          "created_at": "2025-12-17T07:48:56.903+00:00"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Sentiment Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Sentiment Analyzer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Analyzer": {
      "main": [
        [
          {
            "node": "Refining Sentiment Analyzer's Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refining Sentiment Analyzer's Response": {
      "main": [
        [
          {
            "node": "Navigating Feedbacks Based On Sentiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Navigating Feedbacks Based On Sentiment": {
      "main": [
        [
          {
            "node": "Appending Positive & Neutral Feedbacks to Database",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Appending Positive & Neutral Feedbacks to Database",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Appending Negative Feedbacks to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Appending Negative Feedbacks to Database": {
      "main": [
        [
          {
            "node": "Sending an Alert To Owner About Negative Feedbacks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "21de24dc-0eeb-422e-a030-cfd850168dfe",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f7b993dd14e2f708b427acbff5d0127f9a8bd731f141e235e9561c1d080632e9"
  },
  "id": "rRfAKzRXvwqCT9O9",
  "tags": []
}